{"openapi":"3.0.1","info":{"title":"Braid API","description":"Braid API reference for developers","termsOfService":"https://www.braidfi.com","license":{"name":"License","url":"https://www.braidfi.com"},"version":"1.0"},"servers":[{"url":"https://api.sandbox.braid.zone","description":"Generated server url"}],"security":[{"BasicAuth":[]}],"tags":[{"name":"Wire Admin","description":"Wire Admin Operations"},{"name":"Api Docs","description":"API Documentation"}],"paths":{"/v2/fee/{id}":{"get":{"tags":["Fees"],"summary":"Get the details of a fee V2","operationId":"findFeeByIdV2","parameters":[{"name":"id","in":"path","description":"feeId","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeeResponseDTO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Fees"],"summary":"Update a fee V2","operationId":"updateFeeV2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFeeRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeeResponseDTO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Fees"],"summary":"Delete a fee V2","operationId":"deleteFeeV2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v2/counterparty/{id}":{"get":{"tags":["Counterparty"],"summary":"Get counterparty V2","operationId":"getCounterpartyByIdV2","parameters":[{"name":"id","in":"path","description":"CounterpartyId","required":true,"schema":{"type":"integer"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CounterpartyResponseDTO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Counterparty"],"summary":"Update a counterparty V2","operationId":"updateCounterpartyV2","parameters":[{"name":"id","in":"path","description":"CounterpartyId","required":true,"schema":{"type":"integer"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCounterpartyRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CounterpartyResponseDTO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/{paymentId}/document/{documentId}/upload":{"put":{"tags":["Transactions"],"summary":"Upload document for transaction","operationId":"uploadDocumentForTransaction","parameters":[{"name":"paymentId","in":"path","required":true,"schema":{"type":"string"}},{"name":"documentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/{paymentId}/document/create":{"put":{"tags":["Transactions"],"summary":"Create document for transaction","operationId":"createDocumentForTransaction","parameters":[{"name":"paymentId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/pending/cancel":{"put":{"tags":["Transactions"],"summary":"Cancel a pending transaction","operationId":"deleteById","parameters":[{"name":"userDetails","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UserDetails"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PendingTransactionRejectRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/pending/approve":{"put":{"tags":["Transactions"],"summary":"Developer approve a pending transaction","operationId":"developerApproveById","parameters":[{"name":"userDetails","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UserDetails"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PendingTransactionApproveRequest"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/individual/{id}/document/{documentId}":{"put":{"tags":["Individuals"],"summary":"Upload a file for a document","operationId":"uploadDocument","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"documentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/fee/{id}":{"get":{"tags":["Fees"],"summary":"Get the details of a fee","operationId":"findById_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeeResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Fees"],"summary":"Update a fee","operationId":"updateFee","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeeResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Fees"],"summary":"Delete a fee","operationId":"deleteFee","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/counterparty/{id}":{"get":{"tags":["Counterparty"],"summary":"Get counterparty ","operationId":"getCounterpartyById","parameters":[{"name":"id","in":"path","description":"CounterpartyId","required":true,"schema":{"type":"integer"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Counterparty"],"summary":"Update a counterparty","operationId":"updateCounterparty","parameters":[{"name":"id","in":"path","description":"CounterpartyId","required":true,"schema":{"type":"integer"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/business/{id}/ubo/{uboId}":{"get":{"tags":["Businesses"],"summary":"Get details of an UBO","operationId":"getUbo","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"uboId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userDetails","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UserDetails"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UboResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["Businesses"],"summary":"Update the details of an UBO","operationId":"updateUbo","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"uboId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userDetails","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UserDetails"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UboRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UboResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Businesses"],"summary":"Delete an UBO","operationId":"deleteUbo","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"uboId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userDetails","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UserDetails"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/business/{id}/document/{documentId}":{"put":{"tags":["Businesses"],"summary":"Upload a file for a document","operationId":"uploadDocument_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"documentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/alerts/{alertId}/document/{documentId}/upload":{"put":{"tags":["Alerts"],"summary":"Upload a file for a document","operationId":"uploadDocumentForAlert","parameters":[{"name":"alertId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"documentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlertDTO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/alerts/{alertId}/create-document":{"put":{"tags":["Alerts"],"summary":"Create a document for an alert","operationId":"createDocumentForAlert","parameters":[{"name":"alertId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlertDTO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/alerts/{alertId}/add-note":{"put":{"tags":["Alerts"],"summary":"Add notes to an alert","operationId":"addNoteToAlert","parameters":[{"name":"alertId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"note","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","default":"RFI","enum":["RFI","INTERNAL"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertAddNoteRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlertDTO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webhook":{"get":{"tags":["Webhook"],"summary":"Get a list of webhooks","operationId":"getAllWebhookConfigurations","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WebhookDTO"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["Webhook"],"summary":"Create a webhook","operationId":"createWebhookConfiguration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebHookRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebhookDTO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webhook/log/{paymentId}/resend":{"post":{"tags":["Webhook"],"summary":"Re-publish webhook by payment ID","operationId":"republishWebhookByPaymentId","parameters":[{"name":"paymentId","in":"path","description":"paymentId of the webhook to resend","required":true,"schema":{"type":"string"},"example":"df7cf659-04a8-407b-9464-37231ac7f8ad"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookResendRequest"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webhook/log/search":{"post":{"tags":["Webhook"],"summary":"Search webhook logs","operationId":"searchWebhookLogs","parameters":[{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchWebhookLogsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageWebhookLogDTO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v2/transaction/wire/international":{"post":{"tags":["Transactions"],"summary":"Perform an INTERNATIONAL WIRE outbound transaction. This new version of the endpoint optionally supports Foreign Exchange and non-USD currencies.","operationId":"performWireInternationalOutbound","parameters":[{"name":"Idempotency-Key","in":"header","description":"For each new Transaction Request, the optional IdempotencyKey should be a unique identifier (UUID). If the same IdempotencyKey is used a second time for the same API, the application will not process a new transaction, but return the response of previous request. IdempotencyKey records have TTL of 24 hours.","required":false,"schema":{"type":"string"},"example":"04ebc6f0-e218-4ca1-b6c4-cef18dbc794c"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionWireInternationalRequestV2"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v2/fee":{"post":{"tags":["Fees"],"summary":"Create a fee V2","operationId":"createFeeV2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFeeRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeeResponseDTO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v2/fee/search":{"post":{"tags":["Fees"],"summary":"Search Fees","operationId":"searchFees","parameters":[{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeeSearchRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageFeeResponseDTO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v2/counterparty":{"post":{"tags":["Counterparty"],"summary":"Create a counterparty V2","operationId":"createCounterpartyV2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCounterpartyRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CounterpartyResponseDTO"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/wire/return":{"post":{"tags":["Transactions"],"summary":"Return a wire deposit","operationId":"returnWire","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WireReturnRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WireReturnResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/wire/outbound":{"post":{"tags":["Transactions"],"summary":"Perform a DOMESTIC WIRE outbound transaction","operationId":"performWireOutbound","parameters":[{"name":"Idempotency-Key","in":"header","description":"For each new Transaction Request, the optional IdempotencyKey should be a unique identifier (UUID). If the same IdempotencyKey is used a second time for the same API, the application will not process a new transaction, but return the response of previous request. IdempotencyKey records have TTL of 24 hours.","required":false,"schema":{"type":"string"},"example":"04ebc6f0-e218-4ca1-b6c4-cef18dbc794c"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionWireDomesticRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/wire/international":{"post":{"tags":["Transactions"],"summary":"Perform an INTERNATIONAL WIRE outbound transaction","operationId":"performWireInternationalOutbound_1","parameters":[{"name":"Idempotency-Key","in":"header","description":"For each new Transaction Request, the optional IdempotencyKey should be a unique identifier (UUID). If the same IdempotencyKey is used a second time for the same API, the application will not process a new transaction, but return the response of previous request. IdempotencyKey records have TTL of 24 hours.","required":false,"schema":{"type":"string"},"example":"04ebc6f0-e218-4ca1-b6c4-cef18dbc794c"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionWireInternationalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/search":{"post":{"tags":["Transactions"],"summary":"Search transactions","operationId":"searchTransactions","parameters":[{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":100}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageTransactionFullResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/internal/transfer":{"post":{"tags":["Transactions"],"summary":"Perform an internal transfer transaction","operationId":"performInternalTransaction","parameters":[{"name":"Idempotency-Key","in":"header","description":"For each new Transaction Request, the optional IdempotencyKey should be a unique identifier (UUID). If the same IdempotencyKey is used a second time for the same API, the application will not process a new transaction, but return the response of previous request. IdempotencyKey records have TTL of 24 hours.","required":false,"schema":{"type":"string"},"example":"04ebc6f0-e218-4ca1-b6c4-cef18dbc794c"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalTransactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/fx/quote":{"get":{"tags":["Transactions"],"summary":"List past Foreign Exchange quotes","operationId":"getFxQuotes_1","parameters":[{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":100}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageFxQuote"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["Transactions"],"summary":"Create a quote for Foreign Exchange trade, if that functionality is available. This does not create any transactions. The quote may be used to create an international wire.","operationId":"createFxQuote","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FxQuoteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FxQuote"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/fee/onetime":{"post":{"tags":["Transactions"],"summary":"Apply a one-time fee debit","operationId":"performFee","parameters":[{"name":"Idempotency-Key","in":"header","description":"For each new Transaction Request, the optional IdempotencyKey should be a unique identifier (UUID). If the same IdempotencyKey is used a second time for the same API, the application will not process a new transaction, but return the response of previous request. IdempotencyKey records have TTL of 24 hours.","required":false,"schema":{"type":"string"},"example":"04ebc6f0-e218-4ca1-b6c4-cef18dbc794c"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionOnetimeFeeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/fednow":{"post":{"tags":["Transactions"],"summary":"Perform a FedNow outbound transaction","operationId":"performFedNow","parameters":[{"name":"Idempotency-Key","in":"header","description":"For each new Transaction Request, the optional IdempotencyKey should be a unique identifier (UUID). If the same IdempotencyKey is used a second time for the same API, the application will not process a new transaction, but return the response of previous request. IdempotencyKey records have TTL of 24 hours.","required":false,"schema":{"type":"string"},"example":"04ebc6f0-e218-4ca1-b6c4-cef18dbc794c"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionFedNowOutboundRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/credit_to":{"post":{"tags":["Transactions"],"summary":"Further credit the transaction to the ultimate beneficiary account","operationId":"performCreditTo","parameters":[{"name":"userDetails","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UserDetails"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionFurtherCreditToRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/batch":{"post":{"tags":["Transactions"],"summary":"Perform a batch","operationId":"performBatch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionBatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchCreationResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/ach/withdrawal":{"post":{"tags":["Transactions"],"summary":"Perform an ACH withdrawal transaction","operationId":"performAchWithdrawl","parameters":[{"name":"Idempotency-Key","in":"header","description":"For each new Transaction Request, the optional IdempotencyKey should be a unique identifier (UUID). If the same IdempotencyKey is used a second time for the same API, the application will not process a new transaction, but return the response of previous request. IdempotencyKey records have TTL of 24 hours.","required":false,"schema":{"type":"string"},"example":"04ebc6f0-e218-4ca1-b6c4-cef18dbc794c"},{"name":"userDetails","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UserDetails"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionAchWithdrawalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/ach/reverse":{"post":{"tags":["Transactions"],"summary":"Reverse an ACH transaction by its paymentId","operationId":"reverseAch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionAchReversalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/ach/push":{"post":{"tags":["Transactions"],"summary":"Perform an ACH push transaction","operationId":"performAchPush","parameters":[{"name":"Idempotency-Key","in":"header","description":"For each new Transaction Request, the optional IdempotencyKey should be a unique identifier (UUID). If the same IdempotencyKey is used a second time for the same API, the application will not process a new transaction, but return the response of previous request. IdempotencyKey records have TTL of 24 hours.","required":false,"schema":{"type":"string"},"example":"04ebc6f0-e218-4ca1-b6c4-cef18dbc794c"},{"name":"userDetails","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UserDetails"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionAchPushRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/ach/pull":{"post":{"tags":["Transactions"],"summary":"Perform an ACH pull transaction","operationId":"performAchPull","parameters":[{"name":"Idempotency-Key","in":"header","description":"For each new Transaction Request, the optional IdempotencyKey should be a unique identifier (UUID). If the same IdempotencyKey is used a second time for the same API, the application will not process a new transaction, but return the response of previous request. IdempotencyKey records have TTL of 24 hours.","required":false,"schema":{"type":"string"},"example":"04ebc6f0-e218-4ca1-b6c4-cef18dbc794c"},{"name":"userDetails","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UserDetails"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionAchPullRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/transaction/ach/funding":{"post":{"tags":["Transactions"],"summary":"Perform an ACH funding transaction","operationId":"performAchFunding","parameters":[{"name":"Idempotency-Key","in":"header","description":"For each new Transaction Request, the optional IdempotencyKey should be a unique identifier (UUID). If the same IdempotencyKey is used a second time for the same API, the application will not process a new transaction, but return the response of previous request. IdempotencyKey records have TTL of 24 hours.","required":false,"schema":{"type":"string"},"example":"04ebc6f0-e218-4ca1-b6c4-cef18dbc794c"},{"name":"userDetails","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UserDetails"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionAchFundingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/simulation/wire/outbound/return":{"post":{"tags":["Simulation"],"summary":"Simulate WIRE outbound return transaction","operationId":"simulateWireOutboundReturn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimulationWireReturnRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/simulation/wire/inbound":{"post":{"tags":["Simulation"],"summary":"Simulate WIRE inbound transaction","operationId":"simulateWireInbound","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimulationWireInboundRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/simulation/ach/outbound/return":{"post":{"tags":["Simulation"],"summary":"Simulate ACH outbound return transaction","operationId":"simulateAchOutboundReturn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimulationAchReturnRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/simulation/ach/noc":{"post":{"tags":["Simulation"],"summary":"Simulate a notice of change to an existing ACH transaction","operationId":"simulateAchNoticeOfChange","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NocRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/simulation/ach/inbound":{"post":{"tags":["Simulation"],"summary":"Simulate ACH inbound transaction","operationId":"simulateAchInbound","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimulationAchInboundRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/individual":{"post":{"tags":["Individuals"],"summary":"Create an individual","operationId":"createCustomer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndividualRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/individual/{id}/document":{"get":{"tags":["Individuals"],"summary":"Get documents belong to an individual","operationId":"getDocuments","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentResponse"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["Individuals"],"summary":"Create a document for an Individual","operationId":"addDocument","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/individual/search":{"post":{"tags":["Individuals"],"summary":"Get a list of Individuals","operationId":"search","parameters":[{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":100}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageCustomerResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/identity-verification":{"post":{"tags":["Identity Verification"],"summary":"Create Identity Verification","operationId":"createIdentityVerification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityVerificationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdentityVerificationResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"412":{"description":"Precondition Failed","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/fee":{"get":{"tags":["Fees"],"summary":"Get a list of fees","operationId":"findAll_4","parameters":[{"name":"accountNumber","in":"query","required":false,"schema":{"type":"string"}},{"name":"productId","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"programId","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FeeResponse"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["Fees"],"summary":"Create a fee","operationId":"createFee","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeeResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/WIRE_TRANSACTION_STATUS_UPDATE_WIRE_DOMESTIC_DEBIT":{"post":{"tags":["Webhook responses"],"summary":"Response example for WIRE_TRANSACTION_STATUS_UPDATE event for WIRE_DOMESTIC_DEBIT","operationId":"wireDebitTransactionStatusUpdate","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WireDebitTransactionStatusUpdate"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/WIRE_OUTBOUND_SUBMITTED":{"post":{"tags":["Webhook responses"],"summary":"Response example for WIRE_OUTBOUND_SUBMITTED event","operationId":"wireOutboundSubmitted","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WireOutBoundEvents"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/WIRE_OUTBOUND_SENT":{"post":{"tags":["Webhook responses"],"summary":"Response example for WIRE_OUTBOUND_SENT event","operationId":"wireOutboundSent","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WireOutboundSentEvent"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/WIRE_OUTBOUND_POSTED":{"post":{"tags":["Webhook responses"],"summary":"Response example for WIRE_OUTBOUND_POSTED event","operationId":"wireOutboundPosted","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WireOutboundPostedEvent"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/WIRE_OUTBOUND_CANCELED":{"post":{"tags":["Webhook responses"],"summary":"Response example for WIRE_OUTBOUND_CANCELED event","operationId":"wireOutboundCancelled","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WireOutBoundEvents"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/WIRE_INBOUND_RETURNED":{"post":{"tags":["Webhook responses"],"summary":"Response example for WIRE_INBOUND_RETURNED event","operationId":"wireInboundReturned","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionOutBoundPosted"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/WIRE_INBOUND_POSTED":{"post":{"tags":["Webhook responses"],"summary":"Response example for WIRE_INBOUND_POSTED event","operationId":"wireInboundPosted","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WireInboundEvents"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/WIRE_INBOUND_MANUAL_REVIEW":{"post":{"tags":["Webhook responses"],"summary":"Response example for WIRE_INBOUND_MANUAL_REVIEW event","operationId":"wireInboundManualReview","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WireInboundEvents"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/WIRE_INBOUND_CANCELLED":{"post":{"tags":["Webhook responses"],"summary":"Response example for WIRE_INBOUND_CANCELLED event","operationId":"wireInboundCancelled","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WireInboundEvents"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/TRANSACTION_STATUS_UPDATE_ACH_RETURNED_ORIGINATOR_CREDIT":{"post":{"tags":["Webhook responses"],"summary":"Response example for TRANSACTION_STATUS_UPDATE event for ACH_RETURNED_ORIGINATOR_CREDIT","operationId":"achReturnedOriginatorCredit","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AchReturnedOriginatorCredit"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/TRANSACTION_STATUS_UPDATE_ACH_ORIGINATOR_CREDIT":{"post":{"tags":["Webhook responses"],"summary":"Response example for TRANSACTION_STATUS_UPDATE event for ACH_ORIGINATOR_CREDIT","operationId":"achOriginatorCredit","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AchOriginatorCredit"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/SAVINGS_ACCOUNT_INTEREST_PAYOUT_POSTED":{"post":{"tags":["Webhook responses"],"summary":"Response example for SAVINGS_ACCOUNT_INTEREST_PAYOUT_POSTED event","operationId":"savingsAccountInterestPayoutPosted","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavingsAccountInterestPayoutPosted"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/RFI_STATUS_UPDATE":{"post":{"tags":["Webhook responses"],"summary":"Response example for RFI_STATUS_UPDATE event","operationId":"rfiStatusUpdate","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RfiStatusUpdate"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/FED_SETTLEMENT_FILE_PARSING_RESULT":{"post":{"tags":["Webhook responses"],"summary":"Response example for FED_SETTLEMENT_FILE_PARSING_RESULT event","operationId":"fedSettlementFileParsingResult","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FedSettlementFileParsing"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/CUSTOMER_STATUS":{"post":{"tags":["Webhook responses"],"summary":"Response example for CUSTOMER_STATUS event","operationId":"customerStatus","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerStatus"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/CUSTOMER_CIP_UPDATE":{"post":{"tags":["Webhook responses"],"summary":"Response example for CUSTOMER_CIP_UPDATE event","operationId":"customerCipUpdate","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerCipUpdate"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/COUNTERPARTY_STATUS":{"post":{"tags":["Webhook responses"],"summary":"Response example for COUNTERPARTY_STATUS event","operationId":"counterpartyStatus","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactStatusChange"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ALERT_CREATED":{"post":{"tags":["Webhook responses"],"summary":"Response example for ALERT_CREATED event","operationId":"alertCreated","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertCreated"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ACH_OUTBOUND_POSTED":{"post":{"tags":["Webhook responses"],"summary":"Response example for ACH_OUTBOUND_POSTED event","operationId":"achOutboundPosted","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AchOutboundPostedEvent"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ACH_ORIGINATION_SUBMITTED":{"post":{"tags":["Webhook responses"],"summary":"Response example for ACH_ORIGINATION_SUBMITTED event","operationId":"achOriginationSubmitted","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AchOriginationSubmittedEvent"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ACH_ORIGINATION_SENT":{"post":{"tags":["Webhook responses"],"summary":"Response example for ACH_ORIGINATION_SENT event","operationId":"achOriginationSent","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AchOriginationSentEvent"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ACH_ORIGINATION_RETURNED":{"post":{"tags":["Webhook responses"],"summary":"Response example for ACH_ORIGINATION_RETURNED event","operationId":"achOriginationReturned","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AchOriginationReturnedEvent"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ACH_ORIGINATION_REJECTED":{"post":{"tags":["Webhook responses"],"summary":"Response example for ACH_ORIGINATION_REJECTED event","operationId":"achOriginationRejected","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileProcessingTransaction"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ACH_ORIGINATION_MANUAL_REVIEW":{"post":{"tags":["Webhook responses"],"summary":"Response example for ACH_ORIGINATION_MANUAL_REVIEW event","operationId":"achOriginationManualReview","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileProcessingTransaction"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ACH_ORIGINATION_CANCELED":{"post":{"tags":["Webhook responses"],"summary":"Response example for ACH_ORIGINATION_CANCELED event","operationId":"achOriginationCanceled","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AchOriginationCanceledEvent"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ACH_NOC":{"post":{"tags":["Webhook responses"],"summary":"Response example for ACH_NOC event","operationId":"achNoc","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AchNocEvent"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ACH_INBOUND_RETURNED":{"post":{"tags":["Webhook responses"],"summary":"Response example for ACH_INBOUND_RETURNED event","operationId":"achInboundReturned","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AchInboundEvents"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ACH_INBOUND_REJECTED":{"post":{"tags":["Webhook responses"],"summary":"Response example for ACH_INBOUND_REJECTED event","operationId":"achInboundRejected","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileProcessingTransaction"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ACH_INBOUND_POSTED":{"post":{"tags":["Webhook responses"],"summary":"Response example for ACH_INBOUND_POSTED event","operationId":"achInboundPosted","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AchInboundPostedEvent"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ACH_INBOUND_MANUAL_REVIEW":{"post":{"tags":["Webhook responses"],"summary":"Response example for ACH_INBOUND_MANUAL_REVIEW event","operationId":"achInboundManualReview","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AchInboundManualReview"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ACH_INBOUND_CANCELLED":{"post":{"tags":["Webhook responses"],"summary":"Response example for ACH_INBOUND_CANCELLED event","operationId":"achInboundCancelled","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AchInbound_Cancelled_Manual"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ACCOUNT_TO_ACCOUNT":{"post":{"tags":["Webhook responses"],"summary":"Response example for ACCOUNT_TO_ACCOUNT event","operationId":"accountToAccountEvents","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountToAccountEvents"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/events/ACCOUNT_CREATED":{"post":{"tags":["Webhook responses"],"summary":"Response example for ACCOUNT_CREATED event","operationId":"accountCreated","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountCreated"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/counterparty":{"post":{"tags":["Counterparty"],"summary":"Create a counterparty","operationId":"addCounterparty","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"ob
[...]
